<h1>Stupid Coaching</h1>
<p class="q-a"><%= params[:question] %></br>
<em>-You</em></p>
<p class="q-a" id="answer"><%= @answer %></br>
<em>-Your coach</em></p>

<%= link_to "Ask a new question", "/ask" %>
